{% extends 'layout.html' %}
{% block title %} Index Page {% endblock %}
{% block content %}

<h2>Data Mahasiswa</h2>

<table border="1" style="width: 400px; border-collapse: collapse;">
        <thead>
        <tr>
            <th>NIM</th>
            <th>Nama</th>
            <th>Alamat</th>
        </tr>
    </thead>
    <tbody>
        {% for a in data_s %}
        <tr>
            <td>{{ a.id_mhs }}</td>
            <td>{{ a.nama }}</td>
            <td>{{ a.alamat }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<a href="/insert">Tambah Data</a>

{% endblock %}